mat-card {
  margin-top: 10px;

  h2 {
    text-align: center;
  }
}

hr {
  clear: both;
  border: none;
}

mat-card.schedule {

  float: left;
  width: calc(50% - 5px);

  &:nth-child(odd) {
    margin-right: 10px;
  }

  > div {
    display: flex;

    strong {
      flex: 1;
    }
  }

}
