table {
  width: 100%;
}

mat-card {
  box-shadow: none !important;
}

mat-form-field {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  cursor: pointer;
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.no-data {
  text-align: center;
  background: white;
  padding: 65px 0;
}
