.action-buttons {
  display: flex;

  button {
    margin-top: 0 !important;
  }

  button:not(:last-child) {
    margin-right: 10px;
  }
}

button {
  width: 100%;
}

button[color="primary"]:last-child {
  width: 100%;
  margin-top: 10px;
}

mat-card {
  margin-top: 10px;

  h2 {
    text-align: center;
  }
}

hr {
  clear: both;
  border: none;
}

mat-card.schedule {

  float: left;
  width: calc(50% - 5px);

  &:nth-child(odd) {
    margin-right: 10px;
  }

  > div {
    display: flex;

    strong {
      flex: 1;
    }
  }

}

//mat-card.schedule
