button[color="primary"] {
  width: 100%;
}

mat-card {
  margin-top: 10px;
}

mat-card.class-data {

  > div {
    display: flex;

    strong {
      flex: 1;
    }
  }

  .student {
    justify-content: flex-end;
  }

  .actions {
    display: flex;

    button {
      display: flex;
      flex: 1;
      justify-content: center;
    }

    button:first-child {
      margin-right: 10px;
    }
  }

}
